body
{
	margin: 0;
	padding: 0;
	text-align: center;
	background: linear-gradient(007bff(0, 0, 50, 0.5)), url(crowdsale_image.png);
	background-position: center;
	font-family: sans-serif;
}

.contact-title 
{
	margin-top= 100px;
	color: ffff;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}

.contact-title h1
{
	font-size: 32px;
	line-height: 10px;
}

.contact-title h2{
	font-size: 16px;
}

form 
{
	margin-top: 50px;
	transition: all 4s ease-in-out;
	background: ffff;
	
}

.form-control 
{
	width: 600px;
	background: transparent; 
	border: none;
	outline: none;
	border-bottom: 1px gray;
	color: gray;
	font-size: 18px;
	margin-bottom: 16px;
}

input {

	height: 45px;
}

form .submit {
	background: black;
	border-color: transaparent;
	color: purple;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
	
}

form .submit:hover
{
	background-color: blue;
	cursor: pointer;
}












