body {
	
	background-color: white;
}

a:hover {

	text-decoration:none; 
    cursor:pointer;
}

html {

	scroll-behavior: smooth;
}

.icon {

	width: 25rem;
	margin-top: 1.0rem;
	margin-bottom: 2rem;
	
}

.heading {

	font-size: 2.5rem;
	font-family: 'Anaheim', sans-serif;
	color : white;
}

.heading2 {

	font-size: 2.5rem;
	font-family: 'Abel', sans-serif;

	margin-top: 1.0rem;

	color: #263854;

	margin-bottom: 2rem;
}

.getStarted1 {

	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;

	margin-top: 2rem;
	
	width: 18rem;

	border-radius: 1.5rem;
	border-width: 0.2rem;

	border : none;
	

	background: #3d5e8c;
	color : white;

	font-family: 'Anaheim', sans-serif;
	font-size: 1.3rem;
}

.getStarted2 {

	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;

	margin-top: 2rem;

	width: 18rem;

	border-radius: 1.5rem;
	border-width: 0.2rem;

	border : none;

	background: #523e5b;
	color : white;

	font-family: 'Anaheim', sans-serif;
	font-size: 1.3rem;
}

button:hover {

	cursor: pointer;
}

button:focus {

	outline: 0 !important;
}



.explain {

	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #252326;
}

.textPara2 {

	font-size: 1.20rem;
	font-family: 'Abel', sans-serif;
	color: white;
}
